<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cardif.PWS.XOGatewayBOHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="XOGatewayBOHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cardif.PWS.XOGatewayBOHelper.Properties.Settings>
            <setting name="Cardif_PWS_XOGatewayBOHelper_XOGatewayBO_XOGatewayBOService" serializeAs="String">
                <value>http://localhost:9001/XOGatewayBO/XOGatewayBOService.asmx</value>
            </setting>
        </Cardif.PWS.XOGatewayBOHelper.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
